@model IEnumerable<spedizioniMVC.Models.Cliente>
@{
    ViewBag.Title = "Index";
}



<h2>Lista dei clienti</h2>

<table class="table table-hover table-bordered container text-center">
    <tr>
        <th>nome</th>
        <th>cognome</th>
        <th>residenza</th>
        <th>CF</th>
        <th>data-di-nascita</th>
       

    </tr>

    @foreach (spedizioniMVC.Models.Cliente c in Model)
    {
        <tr>
            <td>@c.nome</td>
            <td>@c.cognome</td>
            <td>@c.residenza</td>
            <td>@c.CF</td>
            <td>@c.DataDiNascita</td>
            <td>  @Html.ActionLink("modifica", "editcliente", new { IDcliente = c.IDcliente }, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("elimina", "deletecliente", new { IDcliente = c.IDcliente }, new { @class = "btn btn-danger" })</td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("inserisci nuovo cliente", "Create")
</div>